@model ProductViewModel
@inject IAuth _auth
@{
    ViewData["Title"] = Model.Name;
}

<!-- Start Product Details Area -->
<section class="product-details-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">

                <div class="product-details-image mt-0">
                    <a asp-controller="products" asp-action="Index" asp-route-id="@Model.Id">
                        <img src="~/uploads/@Model.Photos.First()" alt="@Model.Name">
                    </a>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="product-details-desc">
                    <h3>@Model.Name</h3>
                    <div class="price">
                        @if (Model.DiscountPrice == 0)
                        {
                            <span class="new-price">@Model.Price.ToString("#.00")$</span>

                        }
                        else
                        {
                            <span class="new-price">@Model.DiscountPrice.ToString("#.00")$</span>
                            <span class="old-price">>@Model.Price.ToString("#.00")$</span>
                        }
                    </div>



                    <div class="product-review">
                        <div class="rating">
                            @for (int i = 1; i <= 5; i++)
                            {
                                <i class='bx bx-star @(Model.StarCount>=i?"bx bxs-star":"")'></i>
                            }
                        </div>
                    </div>

                    <p>@Model.SKU</p>



                    <div class="buy-checkbox-btn">
                        <div class="item">
                            <input class="inp-cbx" id="cbx" type="checkbox">
                            <label class="cbx" for="cbx">
                                <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                        <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg>
                                </span>
                                <span>I agree with the terms and conditions</span>
                            </label>
                        </div>

                        <div class="item">
                            <a href="#" class="default-btn">
                                Buy it now!
                            </a>
                        </div>
                    </div>

                    <div class="custom-payment-options">
                        <span>Guaranteed safe checkout:</span>

                        <div class="payment-methods">
                            <a href="#">
                                <img src="/img/product-details/1.svg" alt="image">
                            </a>
                            <a href="#">
                                <img src="/img/product-details/2.svg" alt="image">
                            </a>
                            <a href="#">
                                <img src="/img/product-details/3.svg" alt="image">
                            </a>
                            <a href="#">
                                <img src="/img/product-details/4.svg" alt="image">
                            </a>
                            <a href="#">
                                <img src="/img/product-details/5.svg" alt="image">
                            </a>
                            <a href="#">
                                <img src="/img/product-details/6.svg" alt="image">
                            </a>
                        </div>
                    </div>
                    <div  <a asp-controller="Cart" asp-action="Add" asp-route-id="@Model.Id" class="add-to-cart-btn mt-2"></a>
                       <button type="submit" class="default-btn">
                        Add to Cart
                       </button>

                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12">
                <div class="tab products-details-tab">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <ul class="tabs">
                                <li>
                                    <a href="#">
                                        <div class="dot"></div> Description
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="dot"></div> Additional information
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="dot"></div> Reviews
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-lg-12 col-md-12">
                            <div class="tab_content">
                                <div class="tabs_item">
                                    <div class="products-details-tab-content">
                                        <p>@Model.Description</p>
                                    </div>
                                </div>

                                <div class="tabs_item">
                                    <div class="products-details-tab-content">
                                        <ul class="additional-information">
                                            @foreach (var item in Model.ProductSpecs)
                                            {
                                                <li><span>@item.Key:</span> @item.Value</li>

                                            }

                                        </ul>
                                    </div>
                                </div>
                                <div class="tabs_item">
                                    <div class="products-details-tab-content">
                                        <div class="product-review-form">
                                            <h3>Customer Reviews</h3>

                                            <div class="review-title">
                                                <div class="rating">

                                                </div>
                                                <p> @Model.Reviews.Count Reviews Made By Customers!</p>
                                                @if (_auth.User == null)
                                                {
                                                    <a asp-controller="Account" asp-action="LogIn"  class="btn default-btn">LogIn to Leave Review!</a>
                                                }
                                                else
                                                {
                                                    <a asp-controller="Products" asp-action="Review" asp-route-id="!@Model.Id" class="btn default-btn">Write A Review</a>
                                                }

                                            </div>
                                                 @foreach (var item in Model.Reviews)
												 {
                                                <div class="review-comments">
                                                    <div class="review-item">
                                                        <div class="rating">
                                                            @for (int i = 1; i <= 5; i++)
                                                            {
                                                                <i class='bx bx-star @(item.Star>=i?"bx bxs-star":"")'></i>
                                                            }
                                                        <h3>@item.Star/5</h3>
                                                        </div>
                                                        <h3>@item.Title</h3>
                                                        <span><strong>Admin</strong> on <strong>@item.AddedDate.ToString("dd.MM.yy HH:mm")</strong></span>
                                                        <p>@item.Review</p>

                                                        <a href="#" class="review-report-link">Report as Inappropriate</a>
                                                    </div>
                                                </div>
												 }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
       

</section>
<!-- End Product Details Area -->
@section Scripts {
    <!-- Jquery-3.5.1.Slim.Min.JS -->
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <!-- Popper JS -->
    <script src="/js/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Meanmenu JS -->
    <script src="/js/jquery.meanmenu.js"></script>
    <!-- Wow JS -->
    <script src="/js/wow.min.js"></script>
    <!-- Owl Carousel JS -->
    <script src="/js/owl.carousel.js"></script>
    <!-- Owl Magnific JS -->
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <!-- Nice Select JS -->
    <script src="/js/jquery.nice-select.min.js"></script>
    <!-- Form Validator JS -->
    <script src="/js/form-validator.min.js"></script>
    <!-- Contact JS -->
    <script src="/js/contact-form-script.js"></script>
    <!-- Ajaxchimp JS -->
    <script src="/js/jquery.ajaxchimp.min.js"></script>
    <!-- Custom JS -->
    <script src="/js/custom.js"></script>
}
